# Ignore environment variables
.env

# Ignore credentials
client_secret.json

# Ignore Python cache and virtual environments
__pycache__/
*.pyc
venv/

# Ignore system files
.DS_Store
Thumbs.db

# Ignore IDE files
.vscode/
.idea/